
ApiGetHumano/obj/ApiGetHumano.csproj.nuget.dgspec.json
ApiGetHumano/obj/ApiGetHumano.csproj.nuget.g.props
ApiGetHumano/obj/ApiGetHumano.csproj.nuget.g.targets
ApiGetHumano/obj/Debug/netcoreapp3.0/ApiGetHumano.assets.cache
ApiGetHumano/obj/project.assets.json
ApiGetHumano/obj/Debug/netcoreapp3.0/ApiGetHumano.csprojAssemblyReference.cache
ApiGetHumano/obj/project.nuget.cache
*.cache
.vs
ApiGetHumano/obj
ApiGetHumano/obj/Debug/netcoreapp3.0/ApiGetHumano.AssemblyInfo.cs
ApiGetHumano/obj/Debug/netcoreapp3.0/ApiGetHumano.assets.cache
ApiGetHumano/obj/Debug/netcoreapp3.0/ApiGetHumano.AssemblyInfoInputs.cache
.vs/ApiGetHumano/v17/.suo
ApiGetHumano/obj/ApiGetHumano.csproj.nuget.dgspec.json
ApiGetHumano/obj/ApiGetHumano.csproj.nuget.g.props
ApiGetHumano/obj/Debug/netcoreapp3.0/ApiGetHumano.AssemblyInfo.cs
ApiGetHumano/obj/Debug/netcoreapp3.0/ApiGetHumano.assets.cache
ApiGetHumano/obj/Debug/netcoreapp3.0/ApiGetHumano.csproj.AssemblyReference.cache
ApiGetHumano/obj/Debug/netcoreapp3.0/ApiGetHumano.GeneratedMSBuildEditorConfig.editorconfig
ApiGetHumano/obj/project.assets.json
ApiGetHumano/obj/project.nuget.cache
